# Node modules
node_modules/

# Yarn and NPM files
yarn-error.log
package-lock.json

# Template files
.temp
.DS_Store
.eslintcache
.rn_temp/

# Editor and IDE files
.vscode
.idea

# Build outputs
dist/
deploy_versions/
